/* =====================================
   SGT - MAPA MOVILIDAD
   mapa.css
===================================== */



body{

margin:0;

padding:0;

background:#050b12;

font-family:
"Segoe UI",
Arial,
sans-serif;

color:white;

}





/* =====================================
   CABECERA
===================================== */


.topbar{

height:70px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 20px;

background:
linear-gradient(
90deg,
#071522,
#102a43
);

border-bottom:

1px solid #1e88e5;


}



.topbar h1{

margin:0;

font-size:28px;

letter-spacing:3px;

color:#00e5ff;

}



.topbar p{

margin:0;

font-size:13px;

color:#b0bec5;

}






/* =====================================
   BOTON VOLVER
===================================== */


.btn-volver{

background:#0d47a1;

border:none;

color:white;

padding:

10px 18px;


border-radius:6px;

cursor:pointer;

font-weight:bold;

}



.btn-volver:hover{

background:#1565c0;

}






/* =====================================
   PANEL FILTROS
===================================== */


.panel-filtros{

display:flex;

gap:10px;

padding:12px;

background:#081018;

border-bottom:

1px solid #263238;

flex-wrap:wrap;

}



.panel-filtros button{

background:#102a43;

border:

1px solid #00bcd4;

color:white;

padding:

8px 15px;


border-radius:5px;

cursor:pointer;

}



.panel-filtros button:hover{

background:#00acc1;

color:#000;

}







/* =====================================
       MAPA
===================================== */


#mapa{

width:100%;

height:

calc(100vh - 130px);


z-index:1;

}






/* =====================================
   POPUP LEAFLET
===================================== */


.leaflet-popup-content-wrapper{

background:#101820;

color:white;

border-radius:8px;

}



.leaflet-popup-tip{

background:#101820;

}



.popup h3{

margin-top:0;

color:#00e5ff;

}



.popup button{


background:#00acc1;

border:none;

padding:

8px 15px;


border-radius:5px;

font-weight:bold;

cursor:pointer;

}






/* =====================================
   MARCADORES PERSONALIZADOS
===================================== */


.marcador-custom{

background:none;

border:none;

}



.pin{


width:22px;

height:22px;

border-radius:50%;

border:

3px solid white;


box-shadow:

0 0 10px black;


}





.pin.green{


background:#00c853;

box-shadow:

0 0 15px #00c853;


}




.pin.blue{


background:#2979ff;

box-shadow:

0 0 15px #2979ff;


}





.pin.gray{


background:#757575;

box-shadow:

0 0 15px #757575;


}






/* =====================================
      RESPONSIVE MOVIL
===================================== */


@media(max-width:600px){



.topbar{

height:auto;

padding:12px;

flex-direction:column;

gap:10px;

}



.topbar h1{

font-size:24px;

}



.panel-filtros button{

flex:1;

}



#mapa{

height:

calc(100vh - 170px);

}



}
